export MEDIA_ADDRESS="ip del server"
export SIP_VIA_ADDR="ip del server"
export SIP_SERVER="use1.pure.cloud" #dato entregado por telefonia
export NOVA_VOICE_ID="lupe"

export NOVA_PROMPT="$(cat ~/sample-s2s-voip-gateway/src/main/resources/system-prompt.txt)"

export NOVA_MAX_TOKENS=2048  # Límite total aumentado
export NOVA_TEMPERATURE=0.6  # Respuestas más concisas y consistentes
export NOVA_TOP_P=0.85       # Reduce un poco la variabilidad

export DEBUG_SIP=false
export DEBUG_AUDIO_OUTPUT=false